.home-page-wrapper{
    display: grid;
    grid-template-rows: 12vh;
    // justify-content: center;
    @include respond(tab-port) {
    }

    @include respond(phone) {

    }
    @include respond(tab-port)  {
    }
    @include respond(tab-land) {

    }
    @include respond(big-desktop) {
    }
}

.gradient-divider{
    grid-row: 3 / 4;
    height: 4vh;
    background-image: linear-gradient(to bottom, #D2E603, #3E978B);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  2%;
    margin: 3rem 0 1rem 0;

}
.gradient-text {
    color: #fff;
    font-size: 2rem;
    text-align: center;
}
