.about-page-wrapper{
    display: grid;
    grid-template: 10vh 15vh 37vh 360vh 80vh 10vh / 1fr;
    grid-template-areas:
    "header"
    "title"
    "picture"
    "content"
    "bottonContact"
    "footer"
    ;
    justify-content: center;
    @include respond(base) {
        grid-template: 10vh 15vh 35vh 350vh 60vh 10vh / 1fr;
        grid-template-areas:
        "header"
        "title"
        "picture"
        "content"
        "bottonContact"
        "footer"
        ;
    }
    @include respond(phone) {
        grid-template: 10vh 13vh 26vh 320vh 50vh 10vh / 1fr;
        grid-template-areas:
        "header"
        "title"
        "picture"
        "content"
        "bottonContact"
        "footer"
        ;
    }
    @include respond(tab-port) {
        grid-template: 10vh 13vh 24vh 120vh 40vh 10vh / 1fr;
        grid-template-areas:
        "header"
        "title"
        "picture"
        "content"
        "bottonContact"
        "footer"
        ;
    }
    @include respond(tab-land) {
        grid-template: 10vh 20vh 22vh 150vh 45vh 10vh / repeat(12, 1fr);
        grid-template-areas:
        "header header header header header header header header header header header header"
        ". . . . title title title title title title title ."
        "picture picture picture picture content content content content content content content ."
        ". . . .content content content content content content content ."
        "bottonContact bottonContact bottonContact bottonContact bottonContact bottonContact bottonContact bottonContact bottonContact bottonContact bottonContact bottonContact"
        "footer footer footer footer footer footer footer footer footer footer footer footer"
        ;
    }
    @include respond(big-desktop) {
        grid-template: 10vh 19vh 22vh 70vh 45vh 5vh / repeat(12, 1fr);
        grid-template-areas:
        "header header header header header header header header header header header header"
        ". . . . title title title title title title title ."
        "picture picture picture picture content content content content content content content ."
        ". . . .content content content content content content content ."
        "bottonContact bottonContact bottonContact bottonContact bottonContact bottonContact bottonContact bottonContact bottonContact bottonContact bottonContact bottonContact"
        "footer footer footer footer footer footer footer footer footer footer footer footer"
        ;
    }
}

.title{
    grid-area: title;
    @include centering-titles-mobile;
    @include titlesPages;
    @include respond(tab-land) {
        margin-top: 4rem;
    }
}
.title-text {
    letter-spacing: -.2rem;

}
.title-underline {
    width: 80%;
    height: .6rem;
    background-image: linear-gradient(to right, #D2E603, #3E978B);
    @include respond(tab-land) {
        width: 100%;
    }
}
.picture {
    grid-area: picture;

}

.picture-container {
    display: flex;
    justify-content: center;

}
.picture-me {
    @include pictureSize;
}
.content {
    grid-area: content;
    color: $color-light;
    font-size: 2.4rem;
    font-weight: 400;
    padding: 0 7%;
    @include respond(tab-land) {
        font-size: 2.4rem;
        padding: 0 7% 0 0;
    }
    @include respond(big-desktop) {
        font-size: 2.4rem;
        padding: 0 7% 0 0;
    }

}
.content-text {
    margin-top: 4rem;
    span {
        color: $color-react-logo;
    }
    @include respond(tab-land) {
      margin-top: 2.5rem;
    }
}
.content-list {
    color: $color-primary;
    list-style: none;
}
.content-logos {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
    margin: 10% 0;
    @include respond(tab-port) {
        margin: 5% 0;
        justify-content: flex-start;
    }
}
.content-logos-skills {
    max-width: 7rem;
    @include respond(tab-port){
        margin: 0 2rem;
    }
}
.content-logo {
    width: 80%;
    @include respond(big-desktop) {
        width: 100%;
    }
}
.bottonContact {
    grid-area: bottonContact;
}
