.home-page-wrapper{
        display: grid;
        grid-template: 10vh 100vh 7vh 240vh 235vh 70vh 10vh / 1fr;
        grid-template-areas:
        "header"
        "intro"
        "gradient-divider"
        "thingsMade"
        "process"
        "bottonContact"
        "footer"
        ;
        @include respond(base) {
            grid-template: 10vh 90vh 10vh 230vh 220vh 50vh 10vh / 1fr;
            grid-template-areas:
            "header"
            "intro"
            "gradient-divider"
            "thingsMade"
            "process"
            "bottonContact"
            "footer"
            ;
        }
    @include respond(phone) {
        grid-template: 10vh 90vh 6vh 230vh 205vh 50vh 10vh / 1fr;
        grid-template-areas:
        "header"
        "intro"
        "gradient-divider"
        "thingsMade"
        "process"
        "bottonContact"
        "footer"
        ;
    }
    @include respond(tab-port)  {
        grid-template: 10vh 90vh 6vh 60vh 60vh 40vh 10vh / 1fr;
        grid-template-areas:
        "header"
        "intro"
        "gradient-divider"
        "thingsMade"
        "process"
        "bottonContact"
        "footer"
        ;
    }
    @include respond(tab-land) {
        grid-template: 10vh 95vh 7vh 70vh 95vh 40vh 10vh / 1fr;
        grid-template-areas:
        "header"
        "intro"
        "gradient-divider"
        "thingsMade"
        "process"
        "bottonContact"
        "footer"
        ;
    }
    @include respond(big-desktop) {
        grid-template: 10vh 95vh 7vh 90vh 90vh 40vh 10vh / 1fr;
        grid-template-areas:
        "header"
        "intro"
        "gradient-divider"
        "thingsMade"
        "process"
        "bottonContact"
        "footer"
        ;
    }
}


.gradient-divider{
    grid-area: gradient-divider;
    height: 7vh;
    background-image: linear-gradient(to bottom, #D2E603, #3E978B);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  2%;

}
.gradient-text {
    color: #fff;
    font-size: 2rem;
    text-align: center;
}
